{% extends "master.html" %}

{% block title %}
    Thread Enumeration Engine
{% endblock %}

{% block content %}
    {% csrf_token %}

    <style>
        .status {
            visibility: hidden;
            margin-top: 20px;
        }

        #run-engine {
            margin-top: 20px;
        }
    </style>
    <h1>Thread Enumeration Engine</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="breachforum" name="breachforum">
        <label class="form-check-label" for="breachforum">BreachForum</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="onniforum" name="onniforum">
        <label class="form-check-label" for="onniforum">OnniForum</label>
    </div>

    <button id="run-engine" class="btn btn-outline-danger">Run Thread Enumeration on Selected Forums</button>

    <h3 class="status">
        Thread Enumeration Started
    </h3>

    <script>
        $(document).ready(function () {
            $('#run-engine').click(function () {
                status_message = $(".status");
                const breachforum = $('#breachforum').is(':checked');
                const onniforum = $('#onniforum').is(':checked');

                $.ajax({
                    url: 'unvisited-thread-enum',
                    type: 'POST',
                    data: {
                        breachforum: breachforum,
                        onniforum: onniforum
                    },
                    beforeSend: function (xhr, settings) {
                        $(".status").css("visibility", "visible");
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        $(".status").text("Thread Enumeration Complete");
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
{% endblock %}
